<GridLayout tkDrawerContent rows="auto, *" class="nt-drawer__content">
    <ScrollView row="1" class="nt-drawer__body">
      <StackLayout class="sideStackLayout">

        <StackLayout class="sideTitleStackLayout">
            <Label text="Game Profiles"></Label>
        </StackLayout>

        <StackLayout *ngFor="let gameProfile of dataService.gameProfiles | async; let i = index" 
            [ngClass]="{'selected-game': gameProfile.name === currentGameProfile.name}">
            <Label [text]="gameProfile.name" class="sideLabel" (tap)="selectGame(gameProfile)"></Label>

            <StackLayout *ngIf="gameProfile.name === currentGameProfile.name">
                <GridLayout *ngFor="let expansionDefinition of gameProfile.expansionDefinitions; let i = index"
                    columns="auto, 75" 
                    rows="auto" 
                    horizontalAlignment="right">
                    <Label row="0" col="0" [text]="expansionDefinition.name" style="padding-top: 30px"></Label>
                    <switch [checked]="expansionIsChecked(expansionDefinition)" 
                        (checkedChange)="onExpansionCheckedChange($event, expansionDefinition)" 
                        row="0" 
                        col="1"
                        color="white" 
                        backgroundColor="green" 
                        offBackgroundColor="red">
                    </switch>

                </GridLayout>
            </StackLayout>
        </StackLayout>

        <StackLayout class="hr-light m-10" automationText="menu separator"></StackLayout>
        <label class="sideLabel" text="About" (tap)="navigateToAbout()"></label>

        </StackLayout>
    </ScrollView>

  </GridLayout>
